@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#logo span {
  display: inline-block;
  /* float: center; */
  margin-right: 0;
  overflow: hidden;
  transition: all 1s ease 0s;
  text-align: center;
}

/* width of the "P" */
#logo span:nth-child(1) { 
  padding-top: 1px;
  width: 39px;
}
/* Width of the "C" */
#logo span:nth-child(2) {
  padding-top: 1px;
  width: 40px;
}
#logo:hover span:nth-child(1), .hmslider-visible #logo span:nth-child(1) {
  padding-top: 1px;
  width: 230px;
}
#logo:hover span:nth-child(2), .hmslider-visible #logo span:nth-child(2) {
  padding-top: 1px;
  width: 250px;
}